.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 10px auto;
}

.rows {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.rows label {
  width: 55%;
}

.rows .input {
  width: 40%;
}

.rows .my-dropdown {
  width: 42%;
}

.textbar {
  border: 1px solid black;
}

.searchbar {
  box-sizing: border-box;
}
